<%- include('partials/header.ejs') %>
  <div class="container-fluid p-5">
    <input id="matr-input" class="form-control" type="text" placeholder="M">
    <input id="pass-input" class="form-control" type="password" placeholder="P">
    <button onclick="login()" type="button" class="btn btn-primary">Testar</button>
  </div>
<%- include('partials/footer.ejs') %>
