<li><button class="cursor-pointer w-full text-left px-3 py-2 rounded text-blue-600 hover:bg-blue-600 focus:bg-blue-600 hover:text-white focus:text-white transition-colors">
    <%= name %>
</button></li>