<li>
    <a href="/channel/<%= to %>" class="pass-query-parameters">
        <button 
            <% if (currentPath == `/channel/${to}`) { %>
                class="cursor-pointer w-full text-left px-3 py-2 rounded text-blue-600 bg-blue-600 text-white transition-colors"
            <% } else { %>
                class="cursor-pointer w-full text-left px-3 py-2 rounded text-blue-600 hover:bg-blue-600 hover:text-white transition-colors"
            <% } %>>
            <%= name %>
        </button>
    </a>
</li>