<div class="md:w-1/6 md:min-w-[180px]">
    <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800 mb-2">Lista de Canais</h3>
        <ul id="channel-list" class="space-y-1">
            <li><a href="#" class="text-blue-600 hover:underline">#informática</a></li>
            <li><a href="#" class="text-blue-600 hover:underline">#química</a></li>
            <li><a href="#" class="text-blue-600 hover:underline">#mecânica</a></li>
            <li><a href="#" class="text-blue-600 hover:underline">#edificações</a></li>
            <li><a href="#" class="text-blue-600 hover:underline">#telecomunicações</a></li>
            <li><a href="#" class="text-blue-600 hover:underline">#eletrotécnica</a></li>
        </ul>
    </div>
</div>