<div
    class="flex flex-col items-center justify-center w-full rounded-md border border-dashed border-gray-300 h-[120px] gap-y-2 p-5">
    <b class="md:text-lg text-center">Entre ou cadastre-se para criar suas próprias
        postagens!</b>
    <div class="flex flex-row gap-x-5">
        <a href="/signin" class="pass-query-parameters">
            <button type="button"
                class="cursor-pointer bg-green-700 hover:bg-green-800 text-sm text-white font-semibold py-2 px-2 rounded-md shadow transition-colors flex flex-col justify-center items-center h-[36px] gap-x-1">
                Já tenho conta
            </button>
        </a>
        <a href="/signup" class="pass-query-parameters">
            <button type="button"
                class="cursor-pointer border border-green-700 hover:bg-green-700 text-sm text-green-700 hover:text-white font-semibold py-2 px-2 rounded-md shadow transition-colors flex flex-col justify-center items-center h-[36px] gap-x-1">
                Não tenho conta
            </button>
        </a>
    </div>
</div>