<div class="container border p-3">
    <div class="d-flex flex-column gap-3">
        <div class="d-flex flex-row align-items-center gap-2">
            <img class="rounded-circle" width="32px" height="32px"
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
            <p class="mb-0"><b>Kauã Sousa</b> postou em <b>#informática</b>:</p>
            <p class="mb-0 ms-auto text-secondary">
                <%= new Date().toLocaleString("pt-BR") %>
            </p>
        </div>
        <div class="d-flex">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
                placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
                Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia
                integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per
                conubia nostra inceptos himenaeos.</p>
        </div>
    </div>
</div>